In [1]:
import pandas as pd

merged_gw = pd.read_csv ('merged_gw.csv')
teams_fifa23 = pd.read_csv ('teams_fifa23.csv')
players_fifa23 = pd.read_csv ('players_fifa23.csv')
Odds = pd.read_csv ('E0.csv')
Team = pd.read_csv ('Teams.csv')

In [2]:
ts = Team[['name', 'strength_overall_home', 'strength_overall_away', 
            'strength_attack_home', 'strength_attack_away',
            'strength_defence_home', 'strength_defence_away']]
team_strength = ts.transpose()
team_strength.columns = team_strength.iloc[0] 
team_strength = team_strength[1:]

In [3]:
#ICT score dataset
merged_gw_updated = merged_gw[["team", "ict_index", "GW"]]
sorted_gw = merged_gw_updated.sort_values(by=['team', 'GW'])
grouped_gw = sorted_gw.groupby(by=['team', 'GW'])['ict_index'].sum()
df_grouped_gw = grouped_gw.to_frame()
ICT_2022 = df_grouped_gw.pivot_table(index=['team'], 
            columns=['GW'], values='ict_index').fillna(0)
ICT_2022.sort_index(inplace=True)
ICT_2022.reset_index(inplace=True)

In [4]:
#was home team dataset
merged_gw_updated2 = merged_gw[["team", "was_home", "GW"]]
sorted_gw2 = merged_gw_updated2.sort_values(by=['team', 'GW'])
grouped_gw2 = sorted_gw2.groupby(by=['team', 'GW'])['was_home'].sum()
df_grouped_gw2 = grouped_gw2.to_frame()
WH_2022 = sorted_gw2.pivot_table(index=['team'], 
            columns=['GW'], values='was_home').fillna(0)
WH_2022.sort_index(inplace=True)
WH_2022.reset_index(inplace=True)

In [5]:
away_team_ict = ICT_2022.mask(WH_2022 == 1.0)
away_team_ict = away_team_ict.rename({'team': 'Away Team', 1: 'GW1', 2: 'GW2', 3: 'GW3', 4: 'GW4', 
                            5: 'GW5', 6: 'GW6', 8: 'GW8', 9: 'GW9', 10: 'GW10'}, axis=1)

In [6]:
new_odds = Odds[["Date", "GW","HomeTeam", "AwayTeam", 
      "FTHG", "FTAG", "FTR", "Referee", 
      "HS", "AS", "HST", "AST", "HC", "AC", 
      "HY", "AY", "HR", "AR", "B365H", "B365D", "B365A"]]
new_odds = new_odds.assign(HICT="")
new_odds = new_odds.assign(AICT="")
new_odds.sort_index(inplace=True)
new_odds = new_odds.reset_index(drop=True)
new_odds = new_odds.sort_values('AwayTeam')

In [7]:
gw_1 = new_odds[new_odds.GW == 1]
away_team_ict_g_1 = away_team_ict.GW1
away_team_ict_g_1 = away_team_ict_g_1.dropna()
away_team_ict_g_1 = away_team_ict_g_1.reset_index(drop=True)
gw_1 = gw_1.reset_index(drop=True)
gw_1 = gw_1.assign(AICT=away_team_ict_g_1)

In [8]:
gw_2 = new_odds[new_odds.GW == 2]
away_team_ict_g_2 = away_team_ict.GW2
away_team_ict_g_2 = away_team_ict_g_2.dropna()
away_team_ict_g_2 = away_team_ict_g_2.reset_index(drop=True)
gw_2 = gw_2.reset_index(drop=True)
gw_2 = gw_2.assign(AICT=away_team_ict_g_2)

In [9]:
hello = pd.concat([gw_1,gw_2], ignore_index=True)
hello

,Date,GW,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,HICT,AICT
0,05/08/2022,1,Crystal Palace,Arsenal,0,2,A,A Taylor,10,10,...,5,1,2,0,0,4.20,3.60,1.85,,51.5
1,06/08/2022,1,Bournemouth,Aston Villa,2,0,H,P Bankes,7,15,...,5,3,3,0,0,3.75,3.50,2.00,,41.8
2,07/08/2022,1,Leicester,Brentford,2,2,D,J Gillett,14,8,...,6,0,0,0,0,2.00,3.75,3.50,,37.5
3,07/08/2022,1,Man United,Brighton,1,2,A,P Tierney,17,15,...,2,4,1,0,0,1.60,4.20,5.25,,66.4
4,06/08/2022,1,Everton,Chelsea,0,1,A,C Pawson,8,15,...,16,3,2,0,0,5.50,4.00,1.61,,63.0
5,06/08/2022,1,Fulham,Liverpool,2,2,D,A Madley,9,11,...,4,2,0,0,0,11.00,6.00,1.25,,56.6
6,07/08/2022,1,West Ham,Man City,0,2,A,M Oliver,6,14,...,4,0,1,0,0,8.00,5.00,1.36,,55.7
7,06/08/2022,1,Newcastle,Nott'm Forest,2,0,H,S Hooper,23,5,...,1,0,3,0,0,1.66,3.80,5.25,,26.7
8,06/08/2022,1,Tottenham,Southampton,4,1,H,A Marriner,18,10,...,2,3,0,0,0,1.33,5.50,8.50,,45.6
9,06/08/2022,1,Leeds,Wolves,2,1,H,R Jones,12,15,...,4,2,0,0,0,2.25,3.40,3.20,,62.8
10,13/08/2022,2,Man City,Bournemouth,4,0,H,D Coote,19,3,...,1,0,3,0,0,1.06,13.00,29.00,,19.2
11,15/08/2022,2,Liverpool,Crystal Palace,1,1,D,P Tierney,24,7,...,2,2,4,1,0,1.18,6.75,16.00,,44.5
12,13/08/2022,2,Aston Villa,Everton,2,1,H,M Oliver,12,15,...,8,4,1,0,0,1.80,3.50,4.75,,51.5
13,13/08/2022,2,Wolves,Fulham,0,0,D,J Brooks,7,9,...,3,3,3,0,0,2.30,3.30,3.20,,32.4
14,13/08/2022,2,Southampton,Leeds,2,2,D,T Harrington,14,13,...,5,1,3,0,0,2.25,3.50,3.10,,68.2
15,13/08/2022,2,Arsenal,Leicester,4,2,H,D England,19,6,...,2,1,1,0,0,1.53,4.33,5.75,,35.1
16,13/08/2022,2,Brentford,Man United,4,0,H,S Attwell,13,15,...,2,0,4,0,0,3.75,3.50,2.00,,51.2
17,13/08/2022,2,Brighton,Newcastle,0,0,D,G Scott,13,4,...,3,2,3,0,0,2.45,3.20,3.00,,30.7
18,14/08/2022,2,Chelsea,Tottenham,2,2,D,A Taylor,16,10,...,5,3,0,0,0,2.25,3.40,3.20,,57.2
19,14/08/2022,2,Nott'm Forest,West Ham,1,0,H,R Jones,13,19,...,7,4,1,0,0,4.20,3.60,1.85,,49.7

In [12]:
hello['Date'] = pd.to_datetime(hello['Date'], infer_datetime_format=True)
final_dataset = hello.sort_values(by='Date').reset_index(drop=True)

In [13]:
final_dataset

,Date,GW,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,HICT,AICT
0,2022-05-08,1,Crystal Palace,Arsenal,0,2,A,A Taylor,10,10,...,5,1,2,0,0,4.20,3.60,1.85,,51.5
1,2022-06-08,1,Tottenham,Southampton,4,1,H,A Marriner,18,10,...,2,3,0,0,0,1.33,5.50,8.50,,45.6
2,2022-06-08,1,Newcastle,Nott'm Forest,2,0,H,S Hooper,23,5,...,1,0,3,0,0,1.66,3.80,5.25,,26.7
3,2022-06-08,1,Fulham,Liverpool,2,2,D,A Madley,9,11,...,4,2,0,0,0,11.00,6.00,1.25,,56.6
4,2022-06-08,1,Leeds,Wolves,2,1,H,R Jones,12,15,...,4,2,0,0,0,2.25,3.40,3.20,,62.8
5,2022-06-08,1,Bournemouth,Aston Villa,2,0,H,P Bankes,7,15,...,5,3,3,0,0,3.75,3.50,2.00,,41.8
6,2022-06-08,1,Everton,Chelsea,0,1,A,C Pawson,8,15,...,16,3,2,0,0,5.50,4.00,1.61,,63.0
7,2022-07-08,1,Man United,Brighton,1,2,A,P Tierney,17,15,...,2,4,1,0,0,1.60,4.20,5.25,,66.4
8,2022-07-08,1,West Ham,Man City,0,2,A,M Oliver,6,14,...,4,0,1,0,0,8.00,5.00,1.36,,55.7
9,2022-07-08,1,Leicester,Brentford,2,2,D,J Gillett,14,8,...,6,0,0,0,0,2.00,3.75,3.50,,37.5
10,2022-08-13,2,Man City,Bournemouth,4,0,H,D Coote,19,3,...,1,0,3,0,0,1.06,13.00,29.00,,19.2
11,2022-08-13,2,Aston Villa,Everton,2,1,H,M Oliver,12,15,...,8,4,1,0,0,1.80,3.50,4.75,,51.5
12,2022-08-13,2,Wolves,Fulham,0,0,D,J Brooks,7,9,...,3,3,3,0,0,2.30,3.30,3.20,,32.4
13,2022-08-13,2,Southampton,Leeds,2,2,D,T Harrington,14,13,...,5,1,3,0,0,2.25,3.50,3.10,,68.2
14,2022-08-13,2,Arsenal,Leicester,4,2,H,D England,19,6,...,2,1,1,0,0,1.53,4.33,5.75,,35.1
15,2022-08-13,2,Brentford,Man United,4,0,H,S Attwell,13,15,...,2,0,4,0,0,3.75,3.50,2.00,,51.2
16,2022-08-13,2,Brighton,Newcastle,0,0,D,G Scott,13,4,...,3,2,3,0,0,2.45,3.20,3.00,,30.7
17,2022-08-14,2,Chelsea,Tottenham,2,2,D,A Taylor,16,10,...,5,3,0,0,0,2.25,3.40,3.20,,57.2
18,2022-08-14,2,Nott'm Forest,West Ham,1,0,H,R Jones,13,19,...,7,4,1,0,0,4.20,3.60,1.85,,49.7
19,2022-08-15,2,Liverpool,Crystal Palace,1,1,D,P Tierney,24,7,...,2,2,4,1,0,1.18,6.75,16.00,,44.5